.alignProdItems{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0 0 0;
}

.CatCard{
    border-radius: 59px;
    box-shadow:  32px 32px 100px #bfbfbf,
             -32px -32px 100px #ffffff;
}

.CatCard img{
    border-radius: 59px;
}

.CatCard:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    box-shadow:  32px 32px 100px #fae3af,
             -32px -32px 100px #fae3af;

}

.rowCatCard{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.resizeCard{
    width: 80%;
    height: 80%;
}